/* Css cho phần footer */
footer {
    position: relative;
    width: 100%;
    height: auto;
    padding: 55px 100px;
    background-color: #5d74e6;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: aliceblue;
    line-height: normal;
    font-size: 20px;
}
.foot-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    
}

/* css các nội dung footer */
.foot-content {
    width: calc(32% - 10px);
    margin: 10px ;
}
/* phần thông tin về chúng tôi */

.about h2 {
    color: white;
    font-weight: 500;
    margin-bottom: 15px;
}

.about p {
    color: rgb(236, 228, 228);
}
/* icon  */
.icon {
    margin-top: 20px;
    display: flex;
}
.icon li {
    list-style: none;
}
.icon li a {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    text-decoration: none;
    border-radius: 4px;
}
/* hiệu ứng hover cho icon và chỉnh màu */
.icon li a:hover{
    background: rgb(53, 209, 230);
}
.icon li a ion-icon {
    color: #fff;
    font-size: 20px;
}

/* phần các đường link */

.links h2 {
    color: white;
    font-weight: 500;
    margin-bottom: 15px;
}
.links ul li{
    list-style: none;
}
.links ul li a{
    color: rgb(236, 228, 228);
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
}
.links ul li a:hover{
    color: rgb(72, 194, 41);
}


/* Phần liên hệ */

.contact h2{
    position: relative;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;
}
.contact .info{
    position: relative;
}
.contact .info li{
    display: flex;
    margin-bottom: 16px;
}
.contact .info li span:nth-child(1) {
    color: #fff;
    font-size: 20px;
    margin-right: 10px;
}
.contact .info li span{
    color: #fff;
}
.contact .info li a{
    color: #fff;
    text-decoration: none;
}

/* responsive cho footer */
@media  (max-width: 900px){
    footer{
        padding: 40px;
             }
    footer .container{
        flex-direction: column;
    }
    footer .container .foot-content{
        margin-right: 0;
        margin-bottom: 40px;
    }
    footer .container, .foot-content.about, .links, .contact{
        width: 100%;
    }
}