/* css phần giữa */
.mid-content {
    background-image: url(/img/background.png);
}
.front {
    margin: 0 20%;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.562);
    line-height: normal;
    font-size: 25px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* Tiêu đề  */
.title-line {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 30px;
    font-weight: bolder;
    padding: 20px 0;
}

/* nội dung 1 */
.A2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 20px 0;
}
.A2 .col-2 {
    display: flex;
    flex-direction: row;
    padding: 20px 0;
}

/* nội dung 2 */
.A3 {
    margin: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.A3 p {
    font-size: 25px;
    margin: 20px 0;
}

/* Nội dung 3 */
.A4 {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.A4 .b1 {
    display: flex;
    flex-direction: row;
    width: 100%;  
}
.bold-line{
    font-family: monospace;
    font-weight: bolder;
    font-size: 28px;
    padding: 20px 0 0 0;
}
.A4 p {
    padding-bottom: 30px;
}
.A4 #atm-oxi {
    padding-bottom: 30px;
}

/* nội dung 4 */
.A5 {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 20px 0;
}
.A5 img {
    padding-bottom: 30px;
}
.A5 p {
    padding-bottom: 30px;
}
/* nội dung 5 */
.A6 {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 20px 0;
}
.A6 p {
    margin: 20px;
}
.flex-right {
    display: flex;
    flex-direction: row-reverse;
}



/* ảnh nhân vật và câu chuyện đằng sau */
.char-image {
    margin: 20px;
    width: 40%;
    object-fit: scale-down;
}
.subs {
    padding: 20px 0;
}
.bold-line {
    font-weight: 900;
}


/* figure và caption  */
figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 20px 0;
}
figure .ima {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
}
figure .ima .img-2{
    width: 49%;
    object-fit: cover;
    padding-bottom: 10px;
}
figure .ima .img-4 {
    width: 49%;
    flex-wrap: wrap;
    padding-bottom: 5px;
}
figcaption {
    text-align: center;
    color: grey;
    font-size: medium;
}
/* hết css phần giữa */
